AUTH_URL=http://localhost:3010
AUTH_SECRET=
WISE_AUTH_ISSUER=https://wise-invest.org
WISE_AUTH_DISCOVERY_URL=https://www.wise-invest.org/.well-known/openid-configuration
WISE_AUTH_USERINFO_URL=https://www.wise-invest.org/oauth/userinfo
WISE_AUTH_CLIENT_ID=
WISE_AUTH_CLIENT_SECRET=
WISE_AUTH_SCOPE=openid profile email wise.membership
